# Retrieve from PasswordState > Quality Assurance > Connect App Secrets. 
export DEFAULT_ACCOUNT_CLIENT_ID=
export DEFAULT_ACCOUNT_CLIENT_SECRET=
export DEFAULT_ACCOUNT_PASSWORD=

export MULTI_CHANNEL_ACCOUNT_CLIENT_ID=
export MULTI_CHANNEL_ACCOUNT_CLIENT_SECRET=
export MULTI_CHANNEL_ACCOUNT_PASSWORD=

export NO_WIDGETS_ACCOUNT_CLIENT_ID=
export NO_WIDGETS_ACCOUNT_CLIENT_SECRET=
export NO_WIDGETS_ACCOUNT_PASSWORD=